body {
    background: #FFFDFA;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1E1E1E;
}

.title {
    margin-top: 5vw;
    text-align: center;
}

.title a {
    text-decoration: none;
    font-size: 3vw; /* Set font size to 5% of viewport width */
    color: #1E1E1E;
}

.title a:hover {
    color: #764C97;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 40px;

}
  
.row {
    display: flex;
}
  
.image {
    flex: 1;
    width: 15vw; /* Set width to 30% of viewport width */
    height: 15vw; /* Set height to match width */
    max-width: 100%; /* Ensure images don't exceed screen width */
    max-height: 100%; /* Ensure images don't exceed screen height */
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
}

.row a {
    margin-bottom: 2.5px;
    text-align: center;
    font-size: 1vw;
}

#image1 {
    background-image: url('landing/land1.jpg');
}

#image1:hover {
    background-image: url('landing/hover1.jpg'); 
}

#image2 {
    background-image: url('landing/land4.jpg');
}

#image2:hover {
    background-image: url('landing/hover2.jpg'); /* Image to show on hover */
}

#image3 {
    background-image: url('landing/land3.jpg');
}

#image3:hover {
    background-image: url('landing/hover3.jpg'); /* Image to show on hover */
}

#image4 {
    background-image: url('landing/landing2.jpg');
}

#image4:hover {
    background-image: url('landing/hover4.jpg'); /* Image to show on hover */
}

#image5 {
    background-image: url('landing/land6.jpg');
}

#image5:hover {
    background-image: url('landing/hover5.jpg'); /* Image to show on hover */
}

#image6 {
    background-image: url('landing/land5.jpg');
}

#image6:hover {
    background-image: url('landing/hover6.jpg'); /* Image to show on hover */
}

.footer {
    font-size: 1vw;
    margin-bottom: 5vw;
}