body {
    background: #FFFDFA;
    font-family: 'Poppins', sans-serif;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    display: inline;
    margin-right: 25px; /* Add space between list items */
}

li a {
    text-decoration: none;
    color: black;
}

title a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #764C97;
}

.header {
    margin-top: 40px;
    text-align: center;
}