body {
    background: #FFFDFA;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #1E1E1E;
}

.title {
    margin-top: 4vw;
    text-align: center;
}

.title a {
    text-decoration: none;
    font-size: 3vw; /* Set font size to 5% of viewport width */
    color: #1E1E1E;
}

.title a:hover {
    color: #764C97;
}

.footer {
    font-size: 1vw;
    margin-bottom: 4vw;
    text-align: center;
}

.image-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
    margin-top: 40px;
}
  
.row {
    display: flex;
}
  
.image {
    flex: 1;
    width: 15vw; /* Set width to 30% of viewport width */
    height: 15vw; /* Set height to match width */
    max-width: 100%; /* Ensure images don't exceed screen width */
    max-height: 100%; /* Ensure images don't exceed screen height */
    background-size: cover;
    transition: background-image 0.3s ease-in-out;
    cursor: pointer;
    margin: 10px;
}

.row a {
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.25vw;
}

#image1 {
    background-image: url('landing/land1.jpg');
}

#image1:hover {
    background-image: url('landing/hover1.png'); 
}

#image2 {
    background-image: url('landing/land4.png');
}

#image2:hover {
    background-image: url('landing/hover2.jpg'); /* Image to show on hover */
}

#image3 {
    background-image: url('landing/land3.jpg');
}

#image3:hover {
    background-image: url('landing/hover3.jpg'); /* Image to show on hover */
}

#image4 {
    background-image: url('landing/landing2.png');
}

#image4:hover {
    background-image: url('landing/hover4.png'); /* Image to show on hover */
}

#image5 {
    background-image: url('landing/land6.png');
}

#image5:hover {
    background-image: url('landing/hover5.jpg'); /* Image to show on hover */
}

#image6 {
    background-image: url('landing/landing5.png');
}

#image6:hover {
    background-image: url('landing/hover6.png'); /* Image to show on hover */
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.indtitle {
    margin-top: 3vw;
    margin-left: 5%;
}

.indtitle a {
    text-decoration: none;
    font-size: 3vw; /* Set font size to 5% of viewport width */
    color: #1E1E1E;
}

.indtitle a:hover {
    color: #764C97;
}

.navbar {
    display: flex;
    align-items: center; /* Align navbar items vertically */
    margin-top: 5vw;
    margin-right: 5%;
}

.navbar a {
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.25vw; /* Set font size to 1.5% of viewport width */
    color: #1E1E1E;
}

.navbar a:hover {
    color: #764C97;
}

.dropdown-content {
    margin-top: 5px;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
    text-align: left;
    /* border: 1px solid #ccc; /* Add border */
}

.dropdown-content a {
    background-color: #BD9BD8;
    display: block;
    color: white; /* Change text color */
    padding: 1vw;
    margin-right: 90px;
    margin-left: -1.75px;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #764C97;
    color: white; /* Change text color on hover */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.indheader {
    font-size: 4vw;
    text-align: center;
    margin-left: 5%;
}

/* Style the rows and columns */
.rows {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-bottom: 4vw;
    display: flex;
}

.columns {
    flex: 1;
    padding: 10px;
}

.columns img {
    margin-bottom: 10px;
    max-width: 100%; /* Ensure image doesn't exceed the width of its container */
    max-height: 100vh; /* Scale image to fit the height of the viewport */
}

.columns img:hover {
    box-shadow: 0px 0px 15px rgba(3,3,3,0.25); /* Add shadow to dropdown */
}
/* Style the lightbox */
.lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

/* Style the close button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Style the lightbox content (image) */

.lightbox img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

/* Style the lightbox content (image) */
.lightbox-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90%;
}

.indfooter {
    font-size: 1vw;
    margin-bottom: 4vw;
    margin-top: 0px; /* Add some space between content and footer */
    overflow: hidden; /* Clear floats */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space evenly between items */
    align-items: center; /* Center items vertically */
    flex-wrap: wrap; /* Allow items to wrap onto the next line if needed */
}

.leftfooter {
    margin-left: 15vw;
}

.rightfooter {
    margin-right: 15vw;
    display: flex; /* Use flexbox for layout inside rightfooter */
    flex-direction: column; /* Arrange items vertically */
    margin-left: auto; /* Push right to the end */
    text-align: right;
}

.rightfooter a {
    text-decoration: none; /* Remove underline from links */
    color: #333; /* Text color */
    margin: 0; /* Remove all margins */
}

.rightfooter p {
    margin: 5px 0; /* Adjust vertical margin between paragraphs */
}

/* Optional: Adjust spacing between columns */
.rightfooter + .rightfooter {
    margin-left: 50px; /* Adjust as needed */
}

.rightfooter a:hover {
    color: #764C97;
}
